<div class="card mt-5 box-shaddow">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can leave a comment using this comment form</p>
        <form >
            <div class="form-group">
                <label for="" class="mb-2">Name</label>
                <input type="text" class="form-control box-shaddow" placeholder="Enter your name here">
            </div>
            <div class="form-group">
                <label for="" class="my-3">Comment</label>
                <textarea cols="30" rows="10" class="form-control box-shaddow" placeholder="Add your comment here"></textarea>
            </div>

            <button class="btn btn-info btn-theme my-4 text-white">Leave a comment</button>
        </form>
    </div>
</div>