<div class="card my-5 pb-5 box-shaddow">
    <div class="card-body">
        <h4 class="my-2">Comments</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-1">Anu das</h6>
            <small class="text-danger">LAST UPDATED 2023</small>
            <div class="my-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aliquid nam officia et distinctio placeat tempora obcaecati nihil, hic dicta ab tenetur, officiis fugiat fugit excepturi voluptates ad sequi dolor tempore. Ad veniam vero voluptate fugiat! Explicabo est praesentium aut?
            </div>

            <a href="" class="mt-1" style="text-decoration: none;text-transform: uppercase;">Reply</a>
            <a href="" class="mt-1 ms-3" style="text-decoration: none;text-transform: uppercase;">View</a>
            <hr>
            
        </div>
    </div>
</div>