/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color:rgb(7, 137, 107);
    --sec-color:rgb(222, 255, 247);
    --body-text-color:rgb(108, 37, 222);
    --nav-footer-color:#f2f2f2df;
} 

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--sec-color);
    color: var(--primary-color);
}
.box-shaddow{
    box-shadow: 0 0 30px -10px rgb(133, 133, 133);
}
.bg-theme{
    background-color: var(--primary-color);
}
.bg-sec-theme{
    background-color: var(--sec-color);
}
.text-theme-pri{
    color: var(--primary-color);
}

input[type = text],input[type = email]{
    height: 50px;
    padding-left: 30px;
    font-size: 14px;
    /* width: 80%; */
}    

.btn-theme{
    background-color: var(--primary-color);
    height: 48px;
    border: none;
    font-size: 50px;
   
}